<div class="AknHorizontalNavtab-item--active AknVerticalNavtab-item--active">
    <div class="AknGridToolbar">
        <div class="AknGridToolbar-right" data-drop-zone="actions">
        </div>
    </div>
    <div class="tabsection-content">
        <div class="AknGridContainer">
            <table class="AknGrid AknGrid--unclickable table attributes">
                <thead>
                    <tr>
                        <th class="AknGrid-headerCell">&nbsp;</th>
                        <th class="AknGrid-headerCell"><%- __('webkul_icecat_connector.tab.attriute_type_mapping.header.icecat_attribute') %></th>
                        <th class="AknGrid-headerCell"><%- __('webkul_icecat_connector.tab.attriute_type_mapping.header.akeneo_attribute_type') %></th>
                        <% if (hasRightToRemove) { %>
                        <th class="AknGrid-headerCell">&nbsp;</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody class="attribute-list">
                    <% _.each(attributesType, function (attributeTypeValue, attributeCode) {
                        if('undefined' !== typeof(icecatAttributes[attributeCode])) {
                            icecateAttribute = icecatAttributes[attributeCode];
                        %>
                        <tr class="AknGrid-bodyRow attribute" data-attribute-code="<%- attributeCode %>">
                            <td class="AknGrid-bodyCell AknGrid-bodyCell--tight">
                                <span class="handle">
                                    <i class="icon-reorder"></i>
                                </span>
                            </td>
                            <td class="AknGrid-bodyCell"><%- i18n.getLabel(icecateAttribute.labels, UserContext.get('catalogLocale'), attributeCode) %></td>
                            <td class="AknGrid-bodyCell">
                                <select style = "width:70% !important" class="attributes select2 label-field" data-wrapper="attributesType" id="<%- attributeCode %>" name="<%- attributeCode %>" > 
                                    <% _.each(pimAttributeTypes, function(pimAttributeTypeLabel, pimAttributeType) { %>
                                        <option value="<%- pimAttributeType %>" <% if(pimAttributeType === attributeTypeValue ) { %>selected="selected"<% } %> >
                                            <%- pimAttributeTypeLabel %>
                                        </option>
                                    <% }); %>
                                </select>
                            </td>
                            <% if (hasRightToRemove) { %>
                                <td class="AknGrid-bodyCell AknGrid-bodyCell--right">
                                    <span class="AknIconButton AknIconButton--small AknIconButton--trash remove-attribute" data-attribute-label="<%- i18n.getLabel(icecateAttribute.labels, UserContext.get('catalogLocale'), attributeCode) %>" data-attribute-code="<%- attributeCode %>"></span>
                                </td>
                            <% } %>
                        </tr>
                        <% } %>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
