[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
kmodes = "*"
matplotlib = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
src = {editable = true, path = "./"}

[dev-packages]
black = "*"
isort = "*"
mypy = "*"
coverage = "*"

[requires]
python_version = "3.9"
