[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cluster-analysis = {editable = true, path = "./src"}
jupyter = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
