<div class="AknSubsection">
    <div class="AknFormContainer AknFormContainer--withPadding">
        <% _.each(credentialAttributes, function(credentialAttributeData, credentialAttributeKey) { %>
            <div class="AknFieldContainer">
                <div class="AknFieldContainer-header">
                    <label class="AknFieldContainer-label"
                           for="<%- credentialAttributeData.name %>"><%-
                        _.__(credentialAttributeData.label) %></label>
                </div>
                <div class="AknFieldContainer-inputContainer">
                    <input class="AknTextField credentialMapping"
                           id="<%- credentialAttributeData.name %>" name="<%- credentialAttributeData.name %>"
                           type="<%- credentialAttributeData.type %>" data-wrapper="<%- credentialAttributeData.wrapper %>" 
                           value="<%- credentialMapping && typeof(credentialMapping[credentialAttributeData.name]) !== 'undefined' ? credentialMapping[credentialAttributeData.name] : '' %>"/>
                </div>
            </div>
        <% }); %>
    </div>
</div>
